<div class="table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column.displayName"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column.displayName }}</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <ng-container *ngIf="column.displayName === 'Pos.'">
          {{ i + 1 }}
        </ng-container>
        <ng-container *ngIf="column.displayName !== 'Actions'">
          {{ element[column.name] }}
        </ng-container>
        <ng-container *ngIf="column.displayName === 'Actions'">
          <th *matHeaderCellDef>Actions</th>
          <td>
            <div class="buttons">
              <app-edit-button [id]="element['id']"></app-edit-button>
              <app-delete-button
                [url]="url"
                [id]="element['id']"
                [triggerEvent]="triggerEvent"
              ></app-delete-button>
            </div>
          </td>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
  </table>
</div>
