<div class="container">
  <div class="left">
    <mat-nav-list>
      <h3 mat-subheader>Products:</h3>
      <a mat-list-item routerLink="/foods">Foods</a>
      <a mat-list-item routerLink="/clothes">Clothes</a>
      <a mat-list-item routerLink="/devices">Devices</a>
    </mat-nav-list>
  </div>
  <div class="right">
    <mat-nav-list>
      <h3 mat-subheader>Compositions:</h3>
      <a mat-list-item routerLink="/materials">Materials</a>
      <a mat-list-item routerLink="/ingredients">Ingredients</a>
    </mat-nav-list>
  </div>
</div>
