.items {
  display: flex;
  justify-content: center;
}

a {
  text-align: center;
}

h3 {
  font-weight: bold;
}

.explanation {
  max-width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
}
