<form [formGroup]="materialForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Material</h1>
  <div mat-dialog-content class="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button mat-dialog-close cdkFocusInitial type="submit">
      {{ isEdit ? "Update" : "Create" }}
    </button>
  </div>
</form>
