<h1 mat-dialog-title>Food</h1>
<div mat-dialog-content class="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput required/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput required></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput required/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Size</mat-label>
    <mat-select matNativeControl required>
      <mat-option value="S">S</mat-option>
      <mat-option value="M">M</mat-option>
      <mat-option value="L">L</mat-option>
      <mat-option value="XL">XL</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Calories</mat-label>
    <input matInput required/>
  </mat-form-field>
  <label>Is vegeterian?</label>
  <mat-radio-group>
    <mat-radio-button value="1">Yes</mat-radio-button>
    <mat-radio-button value="2">No</mat-radio-button>
  </mat-radio-group>
  <label>Is vegan?</label>
  <mat-radio-group>
    <mat-radio-button value="1">Yes</mat-radio-button>
    <mat-radio-button value="2">No</mat-radio-button>
  </mat-radio-group>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button cdkFocusInitial>Create</button>
</div>
